.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.jumbotron{
  grid-column: span 4 / auto;
  padding: 2rem 1rem;
  /* margin-bottom: 2rem; */
  /* background-color: #e9ecef; */
  border-radius: 0.3rem;
  background-image: url("../images/backgrounds/landing.jpg");
  height: 500px;
  /* align-content: center; */
  margin-bottom: 0px;
  border-radius: 0px;
  color: white;
}
#logo{
margin-left: 38%;
padding-top: 30px;
}
#motto{
/* margin-left: 30%; */
font-family: 'Noto Serif', serif;
text-align:center;
font-size: 24px;
}
.fastfood{
  grid-column: span 4 / auto;
  height:400px;
}
.drinks{
  grid-column: span 4 / auto;
  height:400px;
  margin: 50px;
  
}
#explanation2{
  text-align: right;
  margin-right: 30px;
  padding: 30px;
}
#explanation{
  margin-left: 0px;
  /* padding: 30px; */
}


#drinks{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#drinks-img-1{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-right: 0px;
  /* border: solid; */
  width: 510px;
  box-shadow:         0px 10px 20px 0px rgba(50, 50, 50, 0.52);
  padding: 10px;
  
}
#drinks-img-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-gap: 0px; */
  /* width: 480px; */
  width: 510px;
  box-shadow:         0px 10px 20px 0px rgba(50, 50, 50, 0.52);
  padding: 10px;

}
#drink2{
  
  /* background-image: url("../images/drink2.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 245px;
}
#drink1{
  /* background-image: url("../images/drink1.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 245px;
}
#fastfood-1{
  
  /* background-image: url("../images/drink2.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 490px;
}
#fastfood-2{
  /* background-image: url("../images/drink1.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width:490px;
}
/* .subscribe{
  grid-column: span 4 / auto;
} */
/* .customers{
  grid-column: span 4 / auto;
} */
.sub-menu{
  grid-column: span 4 / auto;
  background-image: url("../images/backgrounds/foodsBg.jpg"); 
  background-repeat: no-repeat;
  height: 600px;
  padding: 200px;
  /* margin-bottom: 100px; */
}
.footer-info{
  grid-column: span 4 / auto;
  background-color: #F15A29;
  height: 200px;
}
.breakfast{
  padding: 80px;
  grid-row: span 2 / auto;
  background-image: url("../images/foodtop/breakfast.jpg");
  color: white;
  font-family: 'Noto Serif', serif;
  height: 200px;
  text-align: center;
}
.lunch{
  padding: 80px;
  grid-row: span 2 / auto;
  background-image: url("../images/foodtop/lunch.jpg");
  color: white;
  height: 200px;
  font-family: 'Noto Serif', serif;
  text-align: center; 
}
.dinner{
  padding: 80px;
  grid-row: span 2 / auto;
  background-image: url("../images/foodtop/dinner.jpg");
  color: white;
  height: 200px;
  font-family: 'Noto Serif', serif;
  text-align: center;
  
}
.party-hour{
background-color: #F15A29;
/* width: 100px;
height: 50px; */
color: white;
text-align: center;
font-family: 'Noto Serif', serif;
padding: 20px;
}
.happy-hour{
background-color: white;
/* width: 100px;
height: 50px; */
text-align: center;
font-family: 'Noto Serif', serif;
padding: 20px;
}
#submenu{
  background-color: white; 
  height: 300px;
  width: 800px;
  margin-left: 50px;
  margin-right: 50px;

}
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
  color: #F15A29;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.tablinks{
  float: left;
  width: 25%;
}
.customers{
  background-color:white;
  grid-column: span 4 / auto;
  margin: 80px;
  height: 300px;
  box-shadow:          0px 10px 20px 0px rgba(50, 50, 50, 0.52);
}

hr{ 
  
  border:         none;
  border-left:    1px solid hsla(200, 10%, 50%,100);
  height:         100vh;
  width:          1px;       
}
.subscribe{
  grid-column: span 4 / auto;
  background-image: url("../images/backgrounds/subscribe.jpg");
  height: 300px;
}