.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.landing{
  grid-column: span 4 / auto;
  background-image: url("../images/backgrounds/landing.jpg");
  height: 500px;
}
.fastfood{
  grid-column: span 4 / auto;
}
.drinks{
  grid-column: span 4 / auto;
}
.subscribe{
  grid-column: span 4 / auto;
}
.customers{
  grid-column: span 4 / auto;
}
.sub-menu{
  grid-column: span 4 / auto;
}
.footer-info{
  grid-column: span 4 / auto;
}
.breakfast{
  grid-row: span 2 / auto;
  background-image: url("../images/foodtop/breakfast.jpg");
}
.lunch{
  grid-row: span 2 / auto;
  background-image: url("../images/foodtop/lunch.jpg");
}
.dinner{
  grid-row: span 2 / auto;
  background-image: url("../images/foodtop/dinner.jpg");
}
.party-hour{
background-color: #F15A29;
width: 100px;
height: 50px;
}
.happy-hour{
background-color: white;
width: 100px;
height: 50px;
align-content: center;
}